<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuelas</title>
    <link href="../../css/reset.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/destacados.css" rel="stylesheet">
    <link href="../../css/populares.css" rel="stylesheet">
    <link href="../../css/login.css" rel="stylesheet"> 
</head>
<body class="app">
    <header class="encabezado">
        <nav class="menu">
            <ul class="menu__lista">
                <li class="menu__item">
                    <a class="menu__link" href="../../index.html">
                        <i class="fas fa-bookmark"></i>
                        Inicio
                    </a>
                    <a class="menu__link activo " href="#">
                        <i class="fas fa-home"></i>
                        Escuelas
                    </a>
                    <a class="menu__link" href="./cargarEscuela.html">
                        <i class="fas fa-plus-circle"></i>
                        Cargar Escuela
                    </a>
                </li>
            </ul>            
        </nav>
    </header>

    <main class="contenido">
        <section class="populares">
            <div class="populares__items">
                <div class="populares__info">
                    <div class="populares__header">
                        <h4 class="populares__titulo">
                            <i class="populares__icon fab fa-buromobelexperte"></i>
                            Escuelas
                        </h4>
                    </div>
                </div>
                <div class="populares__contenido">
                    <div class="populares__card"><!-- EJEMPLO DE COMO SE VERIA -->
                        <!-- <img class="populares__card___imagen" src="./assets/img/slack.png"></img> -->
                        <div class="populares__card___base">
                            <div class="populares__card___header">
                                <div class="populares__principal ">
                                    <!--BOTON ELIMINAR-->
                                        <a class="populares__boton btn-delete" type="submit" id="${id}">                            
                                            <i class="fas fa-times-circle"></i>
                                        </a>                                                   
                                    <!--BOTON EDITAR-->                
                                        <!-- <button> -->
                                            <a class="populares__boton btn__edit populares__boton btn__edit" type="submit" href="./editarEscuela.html?id=${id}">                                           
                                            <i class="populares__icon fas fa-edit"></i>            
                                            </a>                                            
                                        <!-- </button> -->
                                </div> 
                                <h5 class="populares__card___titulo">Nombre Escuela</h5>
                            </div>
                            <div class="populares__card___descripcion">
                                Datos escuela
                            </div>
                        </div>
                    </div>
                    <div class="escuelas__crud" data-card >
                        <!--js de escuelas controller-->
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="rodapie">PFS Cinthia Vota - 2022</footer>
    <script src="../../js/fontawesome.all.min.js"></script>
</body>
</html>